#canvas {
  text-align: center;
}

#clock-container {
  position: relative;
  margin: 0 auto;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#text-time {
  font-family: monospace;
  font-size: 25pt;
  font-weight: bold;
  margin: 0;
}

#toolbar #activity-button {
  background-image: url(../activity/activity-clock.svg);
}

#toolbar #simple-clock-button {
  background-image: url(../images/simple-clock.svg);
}

#toolbar #nice-clock-button {
  background-image: url(../images/nice-clock.svg);
}
